.form{
    display:flex;
    width: 50vh;
    margin: 20px auto ;
    padding: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    outline: 1px solid black;
}

.label{
    display: block;
    margin-bottom: 10px;
}
.input{
    margin-bottom: 20px;
    width: 100%;
}